* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------ */
/* WRITE YOUR CSS HERE :) */
/* ------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

section {
    margin-bottom: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    line-height: 1.6;
    background-color: rgb(244, 247, 246);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

#main-header{
    background-color: rgb(26, 42, 58);
    color: white;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 10px;
}

#main-header h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

nav {
    background-color: rgb(52, 58, 64);
    text-align: center;
    padding: 8px 0;
}

nav ul{
    list-style: none;
    padding: 0;
    color: aliceblue;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    color: rgb(156, 188, 222);
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 4px;
}

nav ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #007bff;
}

.highlight {
    background-color: #e9f5ff;
    border-left: 4px solid #007bff;
    padding: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.tool-card h3 {
    color: green;        
    margin-bottom: 10px;
    font-weight: 700;
}

.tool-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 40px; 
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

table thead tr {
    background-color: rgb(0, 123, 255);
    color:#f2f2f2;
}

table tbody tr:nth-child(odd){
    background-color: rgb(233, 236, 239);
}

table tbody tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

table tbody tr:hover {
    background-color: #d6e9ff;
    cursor: pointer;
}

footer {
    background-color: rgb(26, 42, 58);
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 0.9rem;
}